body {
    background-color: lightblue;
}

.form-control {
    height: 100px;
}

div.progress {
    display: none;
}

#page-container {
    margin-top: 10%;
    text-align: center;
}

img { 
    margin: 0 auto;
}