body {
    background-color: lightblue;
}

.logo {
    width: 465px;
    height: 192px;
}

.form-control {
    width: 400px; 
    height: 200px;
}

div.progress {
    width: 450px;
    display: none;
}